Host gromacs-local
    Hostname localhost
    User daneel
    BatchMode yes
    RemoteCommand singularity shell --nv -B$HOME/gitrepos/gromacs_sims:/host_pwd --pwd /host_pwd ~/images/gromacs_2024.2-GPU.sif
    RequestTTY yes

Host gromacs-param
    Hostname 172.23.233.208
    User admin
    RemoteCommand srun --partition=GPU --gres=mps:50 --nodes=1 --ntasks-per-node=16 --time=12:00:00 --pty singularity shell --nv -B$HOME/gitrepos/gromacs_sims:/host_pwd --pwd /host_pwd ~/SIFDIR/gromacs/gromacs_2024.2-GPU.sif
    RequestTTY yes

    Host gromacs-param-local
        Hostname 192.168.18.130
        User admin
        RemoteCommand srun --partition=GPU --gres=mps:50 --nodes=1 --ntasks-per-node=16 --time=12:00:00 --pty singularity shell --nv -B$HOME/gitrepos/gromacs_sims:/host_pwd --pwd /host_pwd ~/SIFDIR/gromacs/gromacs_2024.2-GPU.sif
        RequestTTY yes
